body{
    margin: 0px;
}
.container{
    max-width: 80%;
    /*border: 1px solid gray;*/
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.container > .header {
    height: 30%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    background-color: #2196F3;
    padding: 3%;
}
.header > span:nth-child(1) {
    height: 100%;
    width: 85%;
    float: left;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 152%;
}
.header > span:nth-child(2) {
    height: 100%;
    background-color: teal;
    width: 15%;
    float: left;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}
.container > .content { 
    height: 70%;
    /*background-color: dimgray;*/
    /*border: 1px solid blue;*/
    box-sizing: border-box;
}